
<html>
<head>
    <title>SGRun</title>
</head>
<body>
    <form action = "/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" multiple />
        <input type = "submit" value="Upload">
    </form>

    <ul>
        {% for file in files %}
        <li>
            <a href="{{ (request.path + '/' if request.path != '/' else '') + file }}">
                {{ file }}
            </a>
        </li>
        {% endfor %}
    </ul>

    <form action="/process">
        <input type="submit" value="Process uploaded files (only from this session)" />
    </form>
    <!-- <a href="/process">Process uploaded files (only from this session)</a> -->
</body>
</html>